<a href="https://colab.research.google.com/github/Mujthaba-GM/Student-new1234/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

# Step 1: Create the dataset
data = {
    'Study_Hours': [2, 5, 1, 7, 4, 3, 6, 2],
    'Attendance':  [60, 80, 55, 90, 70, 65, 85, 50],
    'Result':      [0, 1, 0, 1, 1, 0, 1, 0]
}

df = pd.DataFrame(data)

# Step 2: Split into features (X) and target (y)
X = df[['Study_Hours', 'Attendance']]
y = df['Result']

# Step 3: Train the logistic regression model
model = LogisticRegression()
model.fit(X, y)

# Step 4: Take user input
s = int(input("Enter study hours: "))
a = int(input("Enter attendance percentage: "))

# Step 5: Predict
test_input = pd.DataFrame([[s, a]], columns=['Study_Hours', 'Attendance'])
result = model.predict(test_input)[0]

# Step 6: Display result
print("Prediction:", "‚úÖ Pass" if result == 1 else "‚ùå Fail")

Enter study hours: 12
Enter attendance percentage: 58
Prediction: ‚ùå Fail

In [5]:
import pandas as pd
import numpy as np

# Step 1: Create the dataset manually
data = {
    'House_ID': [101, 102, 103, 104, 105, 105, 106, 107],
    'Location': ['Bangalore', 'Mumbai', 'bangalore', 'Delhi', 'Mumbai', 'Mumbai', 'Hyderabad', 'Chennai'],
    'Area_sqft': [1200, 900, 1100, np.nan, 1500, 1500, 1000, 850],
    'Bedrooms': [3, 2, 3, 2, 4, 4, 3, 'two'],
    'Price_Lakhs': [85, np.nan, 80, 70, 120, 120, 75, 60],
    'Status': ['Sold', 'Available', 'SOLD', 'available', 'Sold', 'Sold', 'SOLD', 'Available'],
    'Owner_Name': ['Ramesh Kumar', 'Sita Devi', 'John Smith', 'Alice Johnson', 'Ravi Patel', 'Ravi Patel', 'Meera Nair', 'David Roy']
}

df = pd.DataFrame(data)

# ‚úÖ Step 2: Handle missing values
df['Area_sqft'] = df['Area_sqft'].fillna(df['Area_sqft'].mean())
df['Price_Lakhs'] = df['Price_Lakhs'].fillna(df['Price_Lakhs'].mean())

# ‚úÖ Step 3: Remove duplicate rows
df = df.drop_duplicates()

# ‚úÖ Step 4: Fix inconsistent text (case and spelling)
df['Location'] = df['Location'].str.title()     # 'bangalore' ‚Üí 'Bangalore'
df['Status'] = df['Status'].str.lower()         # 'SOLD' ‚Üí 'sold'

# ‚úÖ Step 5: Convert 'Bedrooms' column to numeric (handle 'two')
df['Bedrooms'] = df['Bedrooms'].replace('two', 2)
df['Bedrooms'] = pd.to_numeric(df['Bedrooms'], errors='coerce')  # if any conversion fails, make it NaN

# (Optional) fill any NaN in Bedrooms if left
df['Bedrooms'] = df['Bedrooms'].fillna(df['Bedrooms'].mode()[0]).astype(int)

# ‚úÖ Done! Print cleaned DataFrame
print("‚úÖ Cleaned Real Estate Data:\n")
print(df)

‚úÖ Cleaned Real Estate Data:

   House_ID   Location  Area_sqft  Bedrooms  Price_Lakhs     Status  \
0       101  Bangalore     1200.0         3    85.000000       sold
1       102     Mumbai      900.0         2    87.142857  available
2       103  Bangalore     1100.0         3    80.000000       sold
3       104      Delhi     1150.0         2    70.000000  available
4       105     Mumbai     1500.0         4   120.000000       sold
6       106  Hyderabad     1000.0         3    75.000000       sold
7       107    Chennai      850.0         2    60.000000  available

      Owner_Name
0   Ramesh Kumar
1      Sita Devi
2     John Smith
3  Alice Johnson
4     Ravi Patel
6     Meera Nair
7      David Roy

/tmp/ipython-input-5-2119005650.py:29: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Bedrooms'] = df['Bedrooms'].replace('two', 2)

In [8]:
import re

text = "Hello!!! This is a SAMPLE text üòä with Numbers: 123 and Symbols!!!"

print("Original:", text)
print("Lowercase:", text.lower())
print("Uppercase:", text.upper())
print("Title Case:", text.title())
print("Capitalize:", text.capitalize())
print("Swap Case:", text.swapcase())

# Remove punctuation
no_punct = re.sub(r'[^\w\s]', '', text)
print("No punctuation:", no_punct)

# Remove numbers
no_digits = re.sub(r'\d+', '', text)
print("No numbers:", no_digits)

# Remove emojis / non-ascii
no_emoji = re.sub(r'[^\x00-\x7F]+', '', text)
print("No emoji:", no_emoji)

# Remove extra spaces
clean_spaces = re.sub(r'\s+', ' ', text).strip()
print("Cleaned spaces:", clean_spaces)

Original: Hello!!! This is a SAMPLE text üòä with Numbers: 123 and Symbols!!!
Lowercase: hello!!! this is a sample text üòä with numbers: 123 and symbols!!!
Uppercase: HELLO!!! THIS IS A SAMPLE TEXT üòä WITH NUMBERS: 123 AND SYMBOLS!!!
Title Case: Hello!!! This Is A Sample Text üòä With Numbers: 123 And Symbols!!!
Capitalize: Hello!!! this is a sample text üòä with numbers: 123 and symbols!!!
Swap Case: hELLO!!! tHIS IS A sample TEXT üòä WITH nUMBERS: 123 AND sYMBOLS!!!
No punctuation: Hello This is a SAMPLE text  with Numbers 123 and Symbols
No numbers: Hello!!! This is a SAMPLE text üòä with Numbers:  and Symbols!!!
No emoji: Hello!!! This is a SAMPLE text  with Numbers: 123 and Symbols!!!
Cleaned spaces: Hello!!! This is a SAMPLE text üòä with Numbers: 123 and Symbols!!!