<a href="https://colab.research.google.com/github/Mujthaba-GM/Student-new1234/blob/main/Day1_Datatypes_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Different data types
a=10
b=10.5
c='a'
d='hello'
bool=True
print("Integre ",a)
print("Float",b)
print("char",c)
print("string ",d)
print("Boolean=",bool)

#Printing the data types
print("Integer type is",type(a))
print("Float type is",type(b))
print("char type is ",type(c))
print("String type is ",type(d))
print("Boolean type is ",type(bool))

Integer type is <class 'int'>
Float type is <class 'int'>
char type is  <class 'int'>
String type is  <class 'float'>
Boolean type is  <class 'bool'>

2

Integre  10
Float 10.5
char a
string  hello
Boolean= True

In [2]:
#explicit type conversions
a=10.5
print("Explicit type conversion")
print("a data type is ",type(a))
print("a value is",a)
b=int(a)
print("b data type is",type(b))
print("b value is  ",b)
#implicit data type conversion
c=100
d=100.5
e=c+d
print("e value is",e)
print("Data type of e is",type(e))

Explicit type conversion
a data type is  <class 'float'>
a value is 10.5
b data type is <class 'int'>
b value is   10
e value is 200.5
Data type of e is <class 'float'>

In [4]:
#Arithmatic Operators
a=int(input("Enter a value"))
b=int(input("Enter b value"))
sum=a+b
print("Add of two numbers",sum)
sub=a-b
print("Sub of two numbers is",sub)
mul=a*b
print("Mul of two numbers is ",mul)
div=a/b
print("Div of two numbers is ",a/b)
mod=a%b
print("Mod of two numbers is ",mod)

Enter a value20
Enter b value10
Add of two numbers 30
Sub of two numbers is 10
Mul of two numbers is  200
Div of two numbers is  2.0
Mod of two numbers is  0

In [ ]:
#Relational Operators
#< <= > >= == !=
a=10
b=20
print("a is less than b",a<b)
print("b is greater than a",b>a)
print("a is not equal to b",a!=b)
print("a is equal to b",a==b)
print("not a",not a)
print("not b",not b)
print(" a is less than or equal to b",a<=b)

In [ ]:
#logical Operators
a=10
b=20
c=30
print("a is big",(a > b) and (a >c ))
print(" b is big",(b>a) and (b>c))
print("C is big",(c>a) and (c>b))

In [ ]:
#increment operator
a=10
a=a+1
print("inc a value by 1",a)
#decrement operator
a=a-1
print("Dec a value by 1",b)

In [ ]:
#Evalaution of simple expression
#z=(a+b)*c/2
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=int(input("Enter the c value"))
z=(a+b)*c/2
print("z=",z)

In [ ]:
#Simple if loop
a=10
b=20
if(a>b):
  print(" a is bigger")
else:
  print("B is bigger")

In [ ]:
#Nested if else
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=int(input("Enter the c value"))
if(a>b):
  if(a>c):
    print("a is big",a)
  else:
    print("C is big,c")
else:
  if(b>c):
    print("B is big",b)
  else:
    print("C is big,c")

In [ ]:
#nested elif

math=int(input("enter the value of a"))
phy=int(input("enter the value of b"))
chem=int(input("Enter the c value"))
sum=math+phy+chem
print("Sum=",sum)
avg=sum/3
print("avg=",avg)
if(avg>=95):
  print("Grade A+",avg)
elif(avg>=90) and (avg<95):
  print("Grade A",avg)
elif(avg>=85) and (avg<90):
  print("Grade B+=",avg)
elif(avg>=80) and (avg<85):
  print("Grade B=",avg)

In [ ]:
#while loop
i=1
n=int(input("enter the value of n"))
while(i<=n):
  print("\n i=",i)
  i=i+1

In [ ]:
#Sum of natural numbers
i=1
sum=0
n=int(input("enter the value of n"))
while(i<=n):
  print("\n i=",i)
  sum=sum+i
  i=i+1
print("Sum =",sum)

3

In [ ]:
#for loop
n=int(input("Enter the value of n",))
for i in range(10):
  print(i)

In [7]:
# Different types of Lists
intlist = [1, 2, 3, 5]
floatlist = [1.5, 2, 4, 3.5, 6.7]
charlist = ['a', 'b', 'c', 'd']
stringlist = ["Apple", "Boy", "Cat", "Elephant"]

print("Integer list:", intlist)
print("Float list:", floatlist)
print("Character list:", charlist)
print("String list:", stringlist)

Integer list: [1, 2, 3, 5]
Float list: [1.5, 2, 4, 3.5, 6.7]
Character list: ['a', 'b', 'c', 'd']
String list: ['Apple', 'Boy', 'Cat', 'Elephant']

In [34]:
#list Methods
#Lists extend, append, insert, remove, push, pop, count, min max, join, reverse, copy
intlist.append(20)
print("Int list after append",intlist)
intlist.extend([25,34])
print("Int list after extend",intlist)
intlist.insert(2,15)
print("Int list afer insert",intlist)
intlist.remove(15)
print("Int list after remove",intlist)
floatlist.append(20.5)
print("float list after push",floatlist)
floatlist.pop()
print("floatlist after pop",floatlist)
intcount=intlist.count(2)
print("intlist after count",intcount)
intmax=max(intlist)
print("Int list max",intmax)
intmin=min(intlist)
print("Int list max",intmin)
joined1 = ",".join(stringlist)
print("after string list joined",joined1)
intlist=[1,23,2,4,50,20]
intlist.sort()
print("List after sort int",intlist)
#Slicing  in lists
print("list to operarte  slice",intlist)
print("Slice 0 to 2 ",intlist[0:3])
print("Slice 0 to last",intlist[0:-1])

Int list after append [1, 2, 4, 20, 23, 50, 20]
Int list after extend [1, 2, 4, 20, 23, 50, 20, 25, 34]
Int list afer insert [1, 2, 15, 4, 20, 23, 50, 20, 25, 34]
Int list after remove [1, 2, 4, 20, 23, 50, 20, 25, 34]
float list after push [1.5, 2, 4, 3.5, 6.7, 20.5]
floatlist after pop [1.5, 2, 4, 3.5, 6.7]
intlist after count 1
Int list max 50
Int list max 1
after string list joined Apple,Boy,Cat,Elephant
List after sort int [1, 2, 4, 20, 23, 50]
list to operarte  slice [1, 2, 4, 20, 23, 50]
Slice 0 to 2  [1, 2, 4]
Slice 0 to last [1, 2, 4, 20, 23]

In [35]:
#Tuples and functions
 # Creating tuples
t1 = (10, 20, 30, 40, 50)
t2 = (60, 70, 80)
t3 = ("Apple", "Banana", "Cherry")
# Printing tuples
print("Tuple t1:", t1)
print("Tuple t2:", t2)
print("Tuple t3:", t3)
# Accessing elements
print("First element of t1:", t1[0])
print("Last element of t1:", t1[-1])
# Slicing
print("Slice t1[1:4]:", t1[1:4])
# Concatenation
t4 = t1 + t2
print("Concatenated tuple t4:", t4)
# Repetition
t5 = t3 * 2
print("Repeated tuple t5:", t5)

# Finding length
print("Length of t1:", len(t1))
# Counting occurrences
print("Count of 20 in t1:", t1.count(20))
# Finding index of an element
print("Index of 30 in t1:", t1.index(30))

Tuple t1: (10, 20, 30, 40, 50)
Tuple t2: (60, 70, 80)
Tuple t3: ('Apple', 'Banana', 'Cherry')
First element of t1: 10
Last element of t1: 50
Slice t1[1:4]: (20, 30, 40)
Concatenated tuple t4: (10, 20, 30, 40, 50, 60, 70, 80)
Repeated tuple t5: ('Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry')
Length of t1: 5
Count of 20 in t1: 1
Index of 30 in t1: 2

In [36]:
#Dictionaries
# Create a dictionary
student = {
    "name": "John",
    "age": 17,
    "grade": "11th"
}

# Print the whole dictionary
print("Student Dictionary:", student)

# Access individual values
print("Name:", student["name"])
print("Age:", student["age"])

# Add a new key-value pair
student["school"] = "ABC Junior College"
print("After adding school:", student)

# Update a value
student["age"] = 18
print("After updating age:", student)

# Remove a key-value pair
del student["grade"]
print("After removing grade:", student)

# Check if a key exists
if "name" in student:
    print("Name is present in dictionary")

# Get all keys and values
print("Keys:", student.keys())
print("Values:", student.values())
print("Student details after all operations",student)

Student Dictionary: {'name': 'John', 'age': 17, 'grade': '11th'}
Name: John
Age: 17
After adding school: {'name': 'John', 'age': 17, 'grade': '11th', 'school': 'ABC Junior College'}
After updating age: {'name': 'John', 'age': 18, 'grade': '11th', 'school': 'ABC Junior College'}
After removing grade: {'name': 'John', 'age': 18, 'school': 'ABC Junior College'}
Name is present in dictionary
Keys: dict_keys(['name', 'age', 'school'])
Values: dict_values(['John', 18, 'ABC Junior College'])
Student details after all operations {'name': 'John', 'age': 18, 'school': 'ABC Junior College'}

In [38]:
#set operations
# Create two sets with integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Print original sets
print("Set 1:", set1)
print("Set 2:", set2)

# Add an element
set1.add(10)
print("After adding 10 to Set 1:", set1)

# Remove an element
set2.remove(8)
print("After removing 8 from Set 2:", set2)

# Union (all unique elements)
unionset = set1.union(set2)
print("Union:", unionset)

# Intersection (common elements)
intersectionset = set1.intersection(set2)
print("Intersection:", intersectionset)

# Difference (elements in set1 but not in set2)
difference_set = set1.difference(set2)
print("Difference (Set1 - Set2):", difference_set)

# Check if a number exists
print("Is 3 in Set 1?", 3 in set1)

# Length of a set
print("Length of Set 2:", len(set2))

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
After adding 10 to Set 1: {1, 2, 3, 4, 5, 10}
After removing 8 from Set 2: {4, 5, 6, 7}
Union: {1, 2, 3, 4, 5, 6, 7, 10}
Intersection: {4, 5}
Difference (Set1 - Set2): {10, 1, 2, 3}
Is 3 in Set 1? True
Length of Set 2: 4

In [40]:
#functions with out parameters
def add_numbers(a, b):
    c = a + b
    return c
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=add_numbers(a,b)
print("C=",c)

enter the value of a20
enter the value of b30
C= 50

In [ ]:
2