<a href="https://colab.research.google.com/github/Mujthaba-GM/Student-new1234/blob/main/Untitlednew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Printing the data types
print("Integer type is",type(a))
print("Float type is",type(b))
print("char type is ",type(c))
print("String type is ",type(d))
print("Boolean type is ",type(bool))

Integer type is <class 'int'>
Float type is <class 'int'>
char type is  <class 'int'>
String type is  <class 'float'>
Boolean type is  <class 'bool'>

2

In [ ]:
#Different data types
a=10
b=10.5
c='a'
d='hello'
bool=True
print("Integre ",a)
print("Float",b)
print("char",c)
print("string ",d)
print("Boolean=",bool)

Integre  10
Float 10.5
char a
string  hello
Boolean= True

In [ ]:
#explicit type conversions
a=10.5
print("a data type is ",type(a))
print("a value is",a)
b=int(a)
print("b data type is",type(b))
print("b value is  ",b)
#implicit data type conversion
c=100
d=100.5
e=c+d
print("e value is",e)
print("Data type of e is",type(e))

a data type is  <class 'float'>
a value is 10.5
b data type is <class 'int'>
b value is   10
e value is 200.5
Data type of e is <class 'float'>

In [ ]:
#Arithmatic Operators
a=int(input("Enter a value"))
b=int(input("Enter b value"))
sum=a+b
print("Add of two numbers",sum)
sub=a-b
print("Sub of two numbers is",sub)
mul=a*b
print("Mul of two numbers is ",mul)
div=a/b
print("Div of two numbers is ",a/b)
mod=a%b
print("Mod of two numbers is ",a%b)

Enter a value10
Enter b value0
Add of two numbers 10
Sub of two numbers is 10
Mul of two numbers is  0

ZeroDivisionError: division by zero

In [ ]:
#Relational Operators
#< <= > >= == !=
a=10
b=20
print("a is less than b",a<b)
print("b is greater than a",b>a)
print("a is not equal to b",a!=b)
print("a is equal to b",a==b)
print("not a",not a)
print("not b",not b)
print(" a is less than or equal to b",a<=b)

In [ ]:
#logical Operators
a=10
b=20
c=30
print("a is big",(a > b) and (a >c ))
print(" b is big",(b>a) and (b>c))
print("C is big",(c>a) and (c>b))

In [ ]:
#increment operator
a=10
a=a+1
print("inc a value by 1",a)
#decrement operator
a=a-1
print("Dec a value by 1",b)

In [ ]:
#Evalaution of simple expression
#z=(a+b)*c/2
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=int(input("Enter the c value"))
z=(a+b)*c/2
print("z=",z)

In [ ]:
#Simple if loop
a=10
b=20
if(a>b):
  print(" a is bigger")
else:
  print("B is bigger")

In [ ]:
#Nested if else
a=int(input("enter the value of a"))
b=int(input("enter the value of b"))
c=int(input("Enter the c value"))
if(a>b):
  if(a>c):
    print("a is big",a)
  else:
    print("C is big,c")
else:
  if(b>c):
    print("B is big",b)
  else:
    print("C is big,c")

In [ ]:
#nested elif

math=int(input("enter the value of a"))
phy=int(input("enter the value of b"))
chem=int(input("Enter the c value"))
sum=math+phy+chem
print("Sum=",sum)
avg=sum/3
print("avg=",avg)
if(avg>=95):
  print("Grade A+",avg)
elif(avg>=90) and (avg<95):
  print("Grade A",avg)
elif(avg>=85) and (avg<90):
  print("Grade B+=",avg)
elif(avg>=80) and (avg<85):
  print("Grade B=",avg)

In [ ]:
#while loop
i=1
n=int(input("enter the value of n"))
while(i<=n):
  print("\n i=",i)
  i=i+1

In [ ]:
#Sum of natural numbers
i=1
sum=0
n=int(input("enter the value of n"))
while(i<=n):
  print("\n i=",i)
  sum=sum+i
  i=i+1
print("Sum =",sum)

3

In [ ]:
#for loop
n=int(input("Enter the value of n",))
for i in range(10):
  print(i)